################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/src/Ado.DataAccess/bin/Debug
/src/Ado.DataAccess/obj/Debug
/src/Ado.Host/bin
/src/Ado.Host/obj/Debug
